#mainNavbar .navbar-brand,
#mainNavbar .nav-link {
    color: #04004A;
}

#mainNavbar {
    background-color: #FD6A02;
}

#mainNavbar .nav-link:hover {
    color: white;
}

#mainNavbar .active {
    color: white;
}

#enum {
    padding-left: 40px;
}

#emph {
    font-size: 1.5em;
    color: lightgreen;
}

#jumboTitle {
    color: white;
    text-shadow: 2px 2px 5px #000000;
    -webkit-text-stroke: 0.3px black;
}

#content {
    margin-top: 100px;
    padding-left: 50px;
}

#cap {
    height: 300px;
    float: right;
    padding: 0;
    padding-right: 150px;
}

#lecture {
    height: 300px;
    float: right;
    padding: 0;
    padding-right: 150px;
}

#portrait {
    height: 200px;
    float: right;
    margin-right: 150px;
}

#contactTitle {
    margin-top: 20px;
}

#formTitle {
    padding-left: 16px;
    margin-bottom: 20px;
}

#sendButton {
    color: #FD6A02;
}

#cards {
    margin-top: 40px;
    margin-bottom: 40px;
}

#cards h1 {
    margin-bottom: 20px;
    color: #FD6A02;
}

#jump {
    margin: 20px 0;
}

#homeTitle {
    margin-bottom: 0;
}

#location {
    background-color: #04004A;
    color: white;
}

#line {
    background-color: white;
    box-shadow: 2px 2px 5px #000000;
}

#portrait {
    padding: 0;
}

#jumboMani {
    background-image: url("../img/photos/F901EEFD-EDFC-488F-A0AB-34834373B358.jpg");
    background-size: cover;
    background-position-y: 50%;
}

#homeTitle {
    background-image: url("../img/photos/IMG_2743.JPG");
    background-size: cover;
    background-position-y: 50%;
}

#homeTitle .container h1 {
    color: white;
    text-shadow: 2px 2px 5px #000000;
    -webkit-text-stroke: 0.3px black;
}

#locationTitle {
    padding-top: 20px;
}

.reverse {
    background-color: white;
    color: #04004A;
    border-radius: 5px;
    display: inline-block;
}

.cat {
    margin-bottom: 56px;
}

.cat h1 {
    margin-bottom: 15px;
    color: #FD6A02;
}

.jumbotron .container h1 {
    margin-bottom: 0;
}

.jumbotron {
    margin-top: 56px;
}

.trans--grow{
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-out;
    width : 0%;
}

.grow{
    width:100%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #04004A;
    color: white;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}

.header {
    margin-bottom: 56px;
    color: #04004A;
}

.header h1 {
    color: #FD6A02;
}

.header ul {
    padding-left: 0;
}

.group {
    margin-bottom: 56px;
    color: #04004A;
}

.group h2 {
    border-left: 3px solid #FD6A02;
    padding-left: 10px;
    color: #FD6A02;
}

.group ul {
    list-style-type: disc;
}

.label {
    font-weight: bold;
    font-size: 16px;
}

.btn-outline {
    color: #FD6A02;
    background-color: #ffffff;
    border-color: #FD6A02;
    font-weight: bold;
    letter-spacing: 0.05em;
  }
  
  .btn-outline {
    color: #FD6A02;
    background-color: #ffffff;
    border-color: #FD6A02;
    font-weight: bold;
    border-radius: 0;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #FD6A02;
    color: #ffffff;
    border-color: #FD6A02;
}

.card-body {
    text-align: center;
}

img {
    padding: 50px 50px;
}

body {
    font-family: 'Kosugi Maru';
    margin: 0;
}

h2{
    color: #04004A;
}

ul {
    list-style-type: none;
}

span {
    color: brown;
}

hr {
    margin-top: 20px;
    padding: 3px 0;
    border: none;
    background-color: #04004A;
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], input[type=email],　input[type=password], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #04004A;
    color: white;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #FD6A02;
    color: white;
    padding-right: 26.425px;
    padding-left: 26.425px;
}

.fa-twitter {
    background: #FD6A02;
    color: white;
    padding-right: 21.075;
    padding-left: 21.075;
}